<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <section>
        <ul>
            <%let conuter=0%>
            <% booksList.forEach(book => { %>
                <li>
                    <%++conuter%>
                        <img src=<%= book.image_url%>>
                        <h2 class="title"><%= book.title%></h2>
                        <h3 class="author"><%= book.author%></h3>
                       <form action="/books/<%= book.id%>" method="GET">
                        <button type="submit">View Details</button>
                    </form>
                </li>
                <% }) %>
                <h2>Number of Books = <%=conuter%></h2>
        </ul>
    </section>
</body>
</html>