<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <form action="/new" method="post">
        <label>
            <input type="text" name="title" value="<%=  movie.title%>">
            <input type="text" name="image_url"  value=" <%= movie.image_url%>">
            <input type="text" name="overview" placeholder="Populated overview:" value="<%= movie.overview%>">
            <input type="text" name="released_on" value="<%= movie.released_on%>">
            <textarea name="description" placeholder="Populated Description:">"<%= movie.description%>"</textarea>
                <button type="submit">Add to Database</button>
        </label>
    </form>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>
