<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul>
        <% movies.forEach(movie => { %>
            <li> 
                <img src="<%= movie.image_url %>"> 
                <h2><%=movie.title %></h2>
                <h3><%=movie.overview%></h3>
                <p><%=movie.description%></p>
                <h3><%=movie.released_on%></h3>
                <form action="/add" method="post">
                    <input type="hidden" name="image_url" value="<%= movie.image_url%>">
                    <input type="hidden" name="title" value="<%= movie.title%>">
                    <input type="hidden" name="overview" value="<%= movie.overview%>">
                    <input type="hidden" name="description" value="<%= movie.description%>">
                    <input type="hidden" name="released_on" value="<%= movie.released_on%>">
                    <button type="submit">Select this Movie</button>
                </form>
                
                <form action="/searchBook" method="post">
                    <input type="hidden" name="title" value="<%= movie.title%>">
                    <button type="submit">Searh If It has A book</button>
                </form>
            </li>
        <% }) %>
    </ul>
</body>
</html>